<!DOCTYPE html>
<html>

    <head>


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>

    <div id="login-div"> 


        <p id="welcome-header">Task Manager</p>


        <div id="login-button-div">

            <form id ="emailForm">
            <input id = "emailInput" placeholder="Email" type="email">
            </form>

            <form id = "passwordForm">
            <input id = "passwordInput" placeholder="Password" type="password">
            </form>

            <button id ="login-button">Login</button>
    
        </div>

        <div id="loader-div">
            <div class="loader"></div>
        </div>
       
    </div>

    <script src="/js/app.js"></script>
    </body>

</html>