<header>
    <div id="navDiv2" class="center">

            {{!-- <img class = "image" src="/img/arrow-left.png">
            <a id = "pageLink" href="">1</a>
            <img class = "image" src="/img/arrow-right.png"> --}}
            {{!-- <a id = "pageLink" href=""><-  </a>
            <a id = "pageLink" href="">  1</a>
            <a id = "pageLink" href="">  -></a> --}}
            <p id ="previousPage">Previous</p>
            <p id = "currentPage">1</p>
            <p id = "nextPage">Next</p>

    </div>

</footer>

{{!-- <footer>

    <h1 id="title">{{title}}</h1>

    <div id="navDiv2">
        
            <a href="/home">All Tasks</a>
            <a href="/create">Create New Task</a>
            <a href="/not-completed">Not Completed</a>
            <a href="/completed">Completed</a>
            <a href="/logout">Logout</a>
    </div>

</footer> --}}