<header>

    <h1 id="title">{{title}}</h1>

    <div id="navDiv">
        
            <a href="/home">All Tasks</a>
            <a href="/create">Create New Task</a>
            <a href="/not-completed">Not Completed</a>
            <a href="/completed">Completed</a>
            <a href="/logout">Logout</a>
    </div>

</header>